<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/dash-head'); %>
</head>

<body>
    <%- include('../partials/dash-nav'); %>

        <div class="container-fluid shadow ">
            <div class="row ">
                <%- include('../partials/dash-sliderbar'); %>
                    <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4"  style="background-color: #e4e7e9;">

                        <h1 class="h2">Experince</h1>

                        <div class="row">
                            <div class="col-12 col-xl-8 mb-4 mb-lg-0">
                                <div class="card shadow ">
                                    <h5 class="card-header d-flex justify-content-between">Latest Update <button
                                            type="button" class="btn btn-sm " data-bs-toggle="modal"
                                            data-bs-target="#AddExperince"><svg xmlns="http://www.w3.org/2000/svg"
                                                width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
                                                viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                                            </svg></button></h5>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <td scope="row" class="text-black bg-white">ID</td>
                                                        <th scope="col">ExpName</th>
                                                        <th scope="col">Year</th>
                                                        <!-- <th scope="col">Company</th>
                                                        <th scope="col">Start_Date</th>
                                                        <th scope="col">End_Date</th>
                                                        <th scope="col">Description</th> -->

                                                        <th scope="col"></th>
                                                        <th scope="col"></th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% if(data.length){ for(var i=0; i< data.length; i++) {%>
                                                        <tr>
                                                            <td scope="row" class="text-black bg-white">
                                                                <%= (i+1) %>
                                                            </td>
                                                            <th scope="row">
                                                                <%= experiencedata=data[i].experience%>
                                                            </th>
                                                            <td>
                                                                <%= data[i].year%>
                                                            </td>
                                                           

                                                            <td><button type="button" class="btn btn-sm "
                                                                    style="color:rgb(41, 204, 155);"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#editModal<%=data[i]._id%>"><svg
                                                                        xmlns="http://www.w3.org/2000/svg" width="16"
                                                                        height="16" fill="currentColor"
                                                                        class="bi bi-pencil-square "
                                                                        viewBox="0 0 16 16">
                                                                        <path
                                                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                                        <path fill-rule="evenodd"
                                                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                                    </svg></button></td>

                                                            <td> <a href="/delete_experience/<%= data[i]._id %>"
                                                                    class="btn btn-danger confirm" data-doc=""><svg
                                                                        xmlns="http://www.w3.org/2000/svg" width="16"
                                                                        height="16" fill="currentColor"
                                                                        class="bi bi-trash3" viewBox="0 0 16 16">
                                                                        <path fill-rule="evenodd"
                                                                            d="M6.5 1a.5.5 0 0 0-.5.5v1h4v-1a.5.5 0 0 0-.5-.5h-3ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1H3.042l.846 10.58a1 1 0 0 0 .997.92h6.23a1 1 0 0 0 .997-.92l.846-10.58Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                                                    </svg></a></td>
                                                        </tr>
                                                        <!-- // Modal Edit Experince -->
                                                        <div class="modal fade" id="editModal<%=data[i]._id%>"
                                                            tabindex="-1" aria-labelledby="exampleModalLabel"
                                                            aria-hidden="true">
                                                            <div
                                                                class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
                                                                <div class="modal-content p-3">
                                                                    <div class="modal-header">
                                                                        <h4 class="modal-title fw-bold text-center"
                                                                            id="exampleModalLabel">Add Experince</h4>
                                                                        <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <form class="row g-3 " action="/edit_experience"
                                                                            method="post">

                                                                            <input type="hidden" name="id"
                                                                                value="<%= data[i]._id %>">
                                                                            <div class="col-12">
                                                                                <label for="Name"
                                                                                    class="form-label">Name</label>
                                                                                <input type="text"
                                                                                    class="form-control rounded-pill"
                                                                                    id="university" name="experience"
                                                                                    value="<%=data[i].experience%>"
                                                                                    placeholder="name">
                                                                            </div>
                                                                            <div class="col-12">
                                                                                <label for="Year"
                                                                                    class="form-label">Year</label>
                                                                                <input type="Number"
                                                                                    class="form-control rounded-pill"
                                                                                    id="Year" name="year"
                                                                                    value="<%=data[i].year%>"
                                                                                    placeholder="Year">
                                                                            </div>
                                                                        

                                                                     
                                                                         
                                                                            <div class="modal-footer">
                                                                                <button type="submit"
                                                                                    class="btn btn-primary">Save</button>
                                                                            </div>
                                                                        </form>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% } }else{ %>
                                                            <tr>
                                                                <td colspan="5">No expirince</td>
                                                            </tr>
                                                            <% } %>

                                                </tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                        <a href="#" class="btn btn-block btn-light">View all</a>
                                    </div>
                                </div>
                            </div>

                        </div>



            </div>
        </div>
        </main>



        <!-- Modal Add Experince -->
        <div class="modal fade" id="AddExperince" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
                <div class="modal-content p-3">
                    <div class="modal-header">
                        <h4 class="modal-title fw-bold text-center" id="exampleModalLabel">Add Experince</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3 " action="add_experience" method="post">
                            <!-- Education details -->

                            <div class="col-12">
                                <label for="Name" class="form-label">Name</label>
                                <input type="text" class="form-control rounded-pill" id="university" name="experience"
                                    placeholder="name">
                            </div>
                            <div class="col-12">
                                <label for="Year" class="form-label">Year</label>
                                <input type="Number" class="form-control rounded-pill" id="Year" name="year"
                                    placeholder="Year">
                            </div>
                         
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <%- include('../partials/dash-script'); %>
</body>

</html>